@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

nav {
  background-color: blue;
  height: 75px;
  font-family: 'Langar', cursive;
  font-size: 30px;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo{
  text-decoration: none;
  color: white;
}
.links{
  text-decoration: none;
  color: white;
}
